body{
  padding: 20px 40px;
  background-color: #f4f5f9;
}
nav{
  display: flex;
  align-items: center;
}
nav button{
  margin-left: 5px;
  padding: 4px;
  height: 30px;
  background-color: aliceblue;
  border: none;
}
nav button:hover{
  cursor: pointer;
}